<div class="jumbotron user-card">
  <div class="container-fluid">
    <div *ngIf="userInfo; else userError" class="container">
      <p>
        <a
        href="#"
        class="btn btn-light btn-lg rate-button"
        (click)="open(ratingmodal)">
          {{ "user.rate-button.text" | translate }}
        </a>
      </p>
      <div class="user-info">
        <div>
          <img
            class="rounded-circle"
            src="/api/user/pictures/{{userInfo.pictureId}}"
            width="200"
            height="200"
          />
        </div>
        <div class="user-details">
          <h1>{{ userInfo.firstName + " " + userInfo.lastName }}</h1>
          <p>{{ userInfo.jobTitle }}</p>
        </div>
      </div>

      <div class="badge-container" *ngIf="!httpError.badgesError; else badgesError">
        <ng-container *ngFor="let badge of badges">
          <img
            alt="badge"
            class="badge-image"
            src="../../assets/images/badges/badge-{{ badge.id }}.png"
            width="100"
            height="125"
          />
        </ng-container>
      </div>

      <div class="skill-container">
        <p>{{ "user.best-skill.text" | translate }}</p>
        <div>
          <div class="skill-podium">
            <ng-container *ngFor="let skill of skills">
              <span class="skill-podium-step">
                <span
                  class="skill-podium-step-value-wrapper"
                  [style.height]="(skill.rank > 0 ? skill.rank  * 3 : 3) + 'rem'">
                  <span class="skill-podium-step-value">
                    {{skill.name}}
                  </span>
                </span>
                <span class="skill-podium-step-block">
                  {{skill.rank}}
                </span>
              </span>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #ratingmodal let-modal>
  <app-rating
    *ngIf="!httpError.skillsError && userInfo; else skillsError"
    [userInfo]="userInfo"
  ></app-rating>
</ng-template>

<ng-template #userError>
  <div class="alert alert-light" role="alert">
    {{ "user-error.text" | translate }}
  </div>
</ng-template>

<ng-template #badgesError>
  <div class="alert alert-light" role="alert">
    {{ "badge-error.text" | translate }}
  </div>
</ng-template>

<ng-template #skillsError>
  <div class="alert alert-light" role="alert">
    {{ "skill-error.text" | translate }}
  </div>
</ng-template>
