.container-fluid {
  padding: 2rem;
}

.skill-info {
  margin: 2rem 0;
}

.radio-inline {
  padding-right: 1rem;
}

.form-horizontal {
  display: flex;
  justify-content: center;
}

.btn-light {
  background-color: #EEEEEE;
}
