<div class="modal-body">
  <div>
    <div class="container-fluid">
      <div class="row">
        <h2>{{ "rating.title" | translate: { name: userInfo.firstName } }}</h2>
      </div>
      <div class="row skill-search">
        <label for="typeahead-basic">{{
          "rating.search.text" | translate
        }}</label>
        <input
          id="typeahead-basic"
          type="text"
          class="form-control"
          [(ngModel)]="skill"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultTemplate]="rt"
        />
      </div>
      <div
        class="row skill-info"
        [style.display]="skill?.name ? 'block' : 'none'">
        <h4>{{ skill?.name }}</h4>
        {{ skill?.description }}
      </div>
      <form
        *ngIf="skill?.name"
        class="form-horizontal"
        role="form">
        <div class="form-group">
          <label class="radio-inline">
            <input
              type="radio"
              name="level"
              id="levelBeginner"
              value="Beginner"
              checked
              [(ngModel)]="level"
            />
            {{ "rating.beginner.text" | translate }}
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              name="level"
              id="levelProficient"
              value="Proficient"
              [(ngModel)]="level"
            />
            {{ "rating.proficient.text" | translate }}
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              name="level"
              id="levelExpert"
              value="Expert"
              [(ngModel)]="level"
            />
            {{ "rating.expert.text" | translate }}
          </label>
        </div>
      </form>
      <div
        class="modal-footer"
        [style.display]="skill?.name ? 'flex' : 'none'">
        <button
          class="btn btn-light btn"
          (click)="rateSkills()"
          [disabled]="!skill || !level"
        >
          {{ "rating.button.text" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  {{ r.name }}
</ng-template>
